max@13894:~$ cat /etc/systemd/system/privategpt.service
[Unit]
Description=privategpt.service[PrivateGPT]

[Service]
TimeoutStopSec=2
Type=simple
User=max
WorkingDirectory=/home/max/private-gpt
Environment="PGPT_PROFILES=ollama"
ExecStart=/home/max/.local/bin/poetry run python -m private_gpt
UMask=000
Restart=always

[Install]
WantedBy=multi-user.target