<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="../static/imymaxlogo.svg" />
    {% if title %}
    <title>{{ title }} - {{brand}}</title>
    {% else %}
    <title>{{brand}}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='iFlexgpt.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='Product.css')}}">

</head>

<body>

{% block app_content %}{% endblock %}

<div class="wrapper">
<div class="col span12" style="text-align: center">&copy; 2024 {{brand}}</div>
</div>

<script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
</html>
